
@model DAO.ViewModel.TourViewModel
@{
    ViewBag.Title = "add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Thêm đoàn khách</title>
    <script src="~/Content/Dashboard/assets/js/jquery.min.js"></script>
    <script src="~/Content/Dashboard/assets/bootstrap/js/bootstrap.min.js"></script>
   
    <link rel="stylesheet" type="text/css" href="~/Content/dist/jquery-multi-selection.css" />
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
     <script src="~/Content/dist/jquery.multi-selection.v1.js"></script>
  
   
    <style>
        .jp-multiselect select {
            max-height: 130px;
        }
        body {
           /*color:black;*/ 
        }
    </style>
   
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    

</head>

<body>
   
            <div class="container">
                <br />
               
                <h2 class="font-weight-bold text-primary">Thêm mới tour</h2>
              
                <div class="form-group">
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">Tên Tour:</label></div>
                        <input id="tenTour"  class="form-control" type="text" required />
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">Loại Tour:</label></div>
                        <select id="loaiTour"  class="form-control"  data-placeholder="Hãy chọn loại tour"></select>
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">Mô tả ngắn gọn</label></div>
                        <textarea name="Text1" class="form-control" id="mota"  rows="5" placeholder="Nội dung mô tả"></textarea>
                    </div>
                   </div>
               
                   

                    <div class="form-group">
                        <div class="form-row" id="chondd">
                           
                            
                            <!----------------------- mutil select-->
                            <!-- 1 -->

                            <div class="jp-multiselect">
                                <div class="col"><label class="col-form-label">Chi tiết địa điểm tham quan:</label></div>
                                <div class="col"><label class="col-form-label">Chọn thành phố:</label></div>
                                <select id="single" name="tour" class="form-control" data-placeholder="Chọn Thành phố"></select>
                                <div class="from-panel">

                                    <select name="from[]" id="diadiem" class="form-control" size="8" multiple="multiple"></select>
                                </div>
                                <div class="move-panel">
                                    <button type="button" class="btn-move-all-right btn-primary"></button>
                                    <button type="button" class="btn-move-selected-right btn-default"></button>
                                    <button type="button" class="btn-move-all-left btn-primary"></button>
                                    <button type="button" class="btn-move-selected-left btn-primary"></button>
                                </div>
                                <div class="to-panel">
                                    <select name="to[]" id="diadiemtt" class="form-control" size="8" multiple="multiple"></select>
                                </div>
                                <div class="control-panel">
                                    <button type="button" class="btn-delete btn-primary"></button>
                                    <!--
                                         <button type="button" class="btn-up btn-primary"></button>
                                    <button type="button" class="btn-down btn-primary"></button>
                                    
                                        -->
                                   
                                </div>

                            </div>
                        <!---->

                    </div>
                        <br />
                    <div class="form-group">
                        <div class="form-row">
                           
                            <div class="col text-center"><button class="btn btn-danger" id="btnsubmit" type="submit">Thêm</button></div>
                        </div>
                    </div>



                    
                    </div>
                    <script>
                        $(".jp-multiselect").jQueryMultiSelection();
                    </script>
                    <hr />


                
                <script>
            $("#dynamic-form").jQueryMultiSelection({
                enableDynamicAddContent : true,
            });
                </script>
             

            </div>
     
    


    <script>
       
        $(document).ready(function () {
           

            // load combobox Loại tour
            $.getJSON("/Tour/loadCbxLoaiTour", function (data) {
                $("#loaiTour").empty();
                $.each(data, function (i, field) {
                    $("#loaiTour").append("<option value = '" + field.loai_id + "'>" + field.loai_ten + "</option>");
                });



            });

            // load combobox thành phố
            $.getJSON("/Tour/loadCbxThanhPho", function (data) {
                $("#single").empty();
                $.each(data, function (i, field) {
                    $("#single").append("<option value = '" + field + "'>" + field + "</option>");
                });



            });

            // show list địa điểm khi change cbx
            $('#single').on('change', function () {
                
                var thanhpho = $(this).find(":selected").val();
                
                $.getJSON("/Tour/LoadDiadiem?thanhpho=" + thanhpho, function (data) {
                    $("#diadiem").empty();
                    $.each(data, function (i, field) {             
                        $("#diadiem").append("<option value = '" + field.dd_id + "'>" + field.dd_ten + "</option>");
                    });
                   
                    

                });
                         

            });


            // add new tour

            $("#btnsubmit").click(function () {
                // Initialization  
                var lst = $("select#diadiemtt option").map(function () { return $(this).val(); }).get();

                var mModelAdd = {};

                mModelAdd.tenTour = $('#tenTour').val();
                mModelAdd.loaiTour = $('#loaiTour').val();
                mModelAdd.motaTour = $('#mota').val();
              
                mModelAdd.cacDiemDen = lst;

                // call ajax
                $.ajax(
                {
                    type: 'POST',
                    dataType: 'JSON',
                    url: '/Tour/Add_new',
                    data: JSON.stringify(mModelAdd),
                    traditional: true,
                    contentType: 'application/json; charset=utf-8',
                    success:function (response) {
                        alert("ss: " + response);
                        },
                    error:function (response) {
                            window.location.href = '@Url.Action("Index", "Tour")';
                        }
                });
            });
            
            

          
           

        });

    </script>
</body>

</html>


